@charset "utf-8";

/*-------------------------------------------------------------------------------
 BASE STYLE
 -------------------------------------------------------------------------------*/

/* font-family */
html, input, select, textarea, table, th, td, li ,a {
	font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Yu Gothic', 'メイリオ', 'Meiryo', sans-serif;
}
/* font-style */
html {
	line-height: 1.7;
	font-size: 12px;
	-webkit-text-size-adjust: 100%;
}
/* base font color */
html, input, select, textarea {
	color: #464646;
}
/* normalize size */
input, select, textarea {
	font-size: 100%;
}
/* normalize size & weight */
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
/* normalize style & weight */
strong, em, small {
	font-style: normal;
	font-weight: normal;
}

/*-------------------------------------------------------------------------------
 ANCHORS STYLE
 -------------------------------------------------------------------------------*/

a:link		{ color: #20486a; }
a:visited	{ color: #20486a; }
a:hover		{ color: #2f6a9d; text-decoration: none; }
a:active	{ color: #2f6a9d; text-decoration: none; }
